      Package  Version
   assertthat    0.2.0
    backports    1.1.1
    base64enc    0.1-3
           BH 1.65.0-1
        bindr      0.1
     bindrcpp      0.2
   colorspace    1.3-2
    dichromat    2.0-0
       digest   0.6.12
        dplyr    0.7.4
           DT      0.2
     evaluate   0.10.1
      ggplot2    2.2.1
      ggrepel    0.7.0
         glue    1.2.0
       gtable    0.2.0
        highr      0.6
    htmltools    0.3.6
  htmlwidgets      0.9
       httpuv    1.3.5
     jsonlite      1.5
        knitr     1.17
     labeling      0.3
     lazyeval    0.2.1
     magrittr      1.5
     markdown      0.8
         mime      0.5
      munsell    0.4.3
    pkgconfig    2.0.1
        plogr    0.1-1
         plyr    1.8.4
           R6    2.2.2
 RColorBrewer    1.1-2
         Rcpp  0.12.14
     reshape2    1.4.2
        rlang    0.1.4
    rmarkdown      1.8
    rprojroot      1.2
       scales    0.5.0
        shiny    1.0.5
  sourcetools    0.1.6
      stringi    1.1.6
      stringr    1.2.0
       tibble    1.3.4
  viridisLite    0.2.0
       xtable    1.8-2
         yaml   2.1.14